h1 {
	text-align: center;
}

#firstCharacter,#secondCharacter,#thirdCharacter,#fourthCharacter {
	text-align: center;
	display: inline-block;
	width: 90px;
	height: 90px;
}

.firstPortrait,.secondPortrait,.thirdPortrait,.fourthPortrait {
	background-color: #ffffff;
	width: 90px;
	height: 90px;
	border: 2px;
	border-color: #00ff00;
	border-style: solid;
}

body {
	background-image: url("../images/starwars.jpg");
	font-family: 'Gill Sans MT', sans-serif;
}

.battleLog {
	background-color: #ffffff;
	padding: 5px;
}	
